@font-face {
  font-family: 'iconfont';  /* project id 2192802 */
  src: url('http://at.alicdn.com/t/font_2192802_ixqizc3sjk.eot');
  src: url('http://at.alicdn.com/t/font_2192802_ixqizc3sjk.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_2192802_ixqizc3sjk.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_2192802_ixqizc3sjk.woff') format('woff'),
  url('http://at.alicdn.com/t/font_2192802_ixqizc3sjk.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_2192802_ixqizc3sjk.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.btn-block {
  display: block;
  margin-bottom: 5px;
}

body, html { 
  margin: 0; height: 100%;
}

#toast-container {
  position: absolute; 
  top: 20px; 
  right: 20px;
  z-index: 1050;
}
.toast {
  min-width: 250px;
}
.toast-icon {
  width: 20px; 
  height: 20px;
}

#project-mask {
  position: absolute;
  width: 100%;
  height: 100%;
}
#project-panel {
  position: absolute;
  left: 40px;
  right: 40px;
  min-width: 720px;
  min-height: 400px;
  top: 50%;
  transform: translate(0, -50%);
}
#mask-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1060;
}
#mask-container .waiting-spinner {
  position: absolute;
  left: calc(50% - 64px);
  top: calc(50% - 64px);
}

#header {
  background-color: #23262e !important;
}

#left-menu {
  height: 100%;
  min-width: 200px;
  width: 200px;
  padding-top: 20px;
  background: #383d49;
}
.left-menu-item {
  padding: 8px 20px;
  position: relative;
}
.left-menu-item a {
  color: #c2c6ce !important;
}
.left-menu-item a i {
  font-size: 20px;
}
.menu-item-active {
  background-color: #455563;
}
.menu-item-active a::after {
  position: absolute;
  content: '';
  top: 0;
  right: auto;
  left: 0;
  height: 46px;
  width: 5px;
  background-color: #5FB878;
}

#container { 
  height: 100%;
  width: 100%;
  display: flex;
  min-width: 800px;
  min-height: 600px;
}

#main-container {
  background: #32363c;
  padding: 40px;
  width: 100%;
  overflow-y: auto;
}
#main-container .menu-panel {
  margin-bottom: 40px;
}
#main-container .title {
  color: white;
  font-weight: bold;
}
#main-container .divider {
  height: 1px;
  background: white;
  width: 100%;
  margin: 10px 0;
}
#main-container .card-item {
  background-color: #59646d;
  border-color: #59646d;
  margin-bottom: 10px;
}
#main-container .col-form-label {
  color: white;
  font-size: 1.2rem;
}
#main-container .form-control {
  color: #636363;
  font-weight: bold;
  font-size: 1.2rem;
}
#main-container .form-control-plaintext {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
#main-container .btn {
  margin-right: 20px;
}